<div id="game">
  <% unless "hand_over" == session[:turn] %>
  <h2>Let's Play Blackjack!</h2>
  <h3>You have <%=calculate_total session[:player_cards]%></h3>
  <h4>You have bet $<%=session[:current_bet]%> and have $<%=session[:bank]%>.</h4>

<% end %>

<!-- message if won, busted(and/or bankrupt), lost (and/or bankrupt), or tie -->
<div>
<% if (0 == session[:bank] && 0 == session[:current_bet]) || "hand_over" == session[:turn]%>
  <table>
    <tbody>
      <tr>
        <td>
          <% if 0 == session[:bank] %>
            <form method="post" action="/play_new_game">
              <input type="submit" value="Borrow $1000 and Play Again!" class='btn btn-warning'/>
            </form>
          <% else %>
            <form method="post" action="/play_again">
              <input type="submit" value="Play Again" class='btn btn-success'/>
            </form>
          <% end %>
        </td>
        <td>
          <form method="post" action="/gameover">
            <input type="submit" value="I'm Done!" class='btn btn-danger'/>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>

<!-- Provide action depending on turn and ability -->
<% if session[:player_status] == "hit" && session[:turn] != "hand_over" %>
  <table>
    <tbody>
      <tr>
        <td>
          <form id="hit_form" method="post" action="/game/player_turn">
            <input type="submit" value="I only have <%= calculate_total session[:player_cards]%>. Hit Me!" class='btn btn-success'/>
          </form>
        </td>
        <td>
          <form id="stay_form" method="post" action="/game/dealer_turn">
            <input type="submit" value="Stay at <%= calculate_total session[:player_cards]%>." class='btn btn-danger'/>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
<% elsif session[:turn] == "dealer_turn" && calculate_total(session[:dealer_cards]) < 17 %>
  <form method="post" action="/game/dealer_turn">
    <input type="submit" value="Dealer only has <%=calculate_total(session[:dealer_cards]) %>. Deal Card to Dealer." class='btn btn-primary'/>
  </form>
<% else %>
  <!-- do nothing -->
<% end %>
</div>

<hr/>

<div class='row-fluid'>
  <!-- Show dealer's cards -->
  <div class='span6 well' id='dealer_area'>
    <% if session[:player_status] == "stay" %>
      <h3>Dealer's Card Total <%=calculate_total(session[:dealer_cards])%></h3>
      <div>
        <% session[:dealer_cards].each do |card| %>
          <%= card_image(card)%>
        <% end %>
      </div>
    <% else %>
      <h3>Dealer's Cards</h3>
      <div>
        <img src="/images/cards/cover.jpg" alt="<%= "Back of Card"%>"/>
        <%= card_image(session[:dealer_cards][1]) %>
      </div>
    <% end %>
  </div>
  <div class='span6 well' id='player_area'>
    <!-- Show player's cards -->
    <h3><%= session[:username] %>'s, Card Total <%= calculate_total session[:player_cards] %></h3>
    <div>
        <% session[:player_cards].each do |card| %>
          <%= card_image(card) %>
        <% end %>
    </div>
  </div>
</div>

</div>