<% unless "hand_over" == session[:turn] %>
  <h2>Let's Play Blackjack!</h2>
<% end %>

<!-- message if won, busted(and/or bankrupt), lost (and/or bankrupt), or tie -->
<div>
<% if "hand_over" == session[:turn] %>
  <h2><%=session[:winner]%></h2>
<% end %>
<% if (0 == session[:bank] && 0 == session[:current_bet]) || "hand_over" == session[:turn]%>
  <table>
    <tbody>
      <tr>
        <td>
          <% if 0 == session[:bank] %>
            <h4><%= session[:username] %>, you are bankrupt!!!!!</h4>
          </td>
          <td>
            <form method="post" action="/play_new_game">
              <input type="submit" value="Borrow $1000 and Play Again!" class='btn btn-warning'/>
            </form>
          <% else %>
            <form method="post" action="/play_again">
              <input type="submit" value="Play Again" class='btn btn-success'/>
            </form>
          <% end %>
        </td>
        <td>
          <form method="post" action="/end_game">
            <input type="submit" value="I'm Done!" class='btn btn-danger'/>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>

<!-- Provide action depending on turn and ability -->
<% if session[:turn] == "player_turn" %>
  <h3>Hit or stay.</h3>
  <table>
    <tbody>
      <tr>
        <td>
          <form method="post" action="/deal_to_player">
            <input type="submit" value="I only have <%= session[:player_score]%>. Hit Me!" class='btn btn-success'/>
          </form>
        </td>
        <td>
          <form method="post" action="/player_stay">
            <input type="submit" value="Stay at <%= session[:player_score]%>." class='btn btn-danger'/>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
<% elsif session[:turn] == "dealer_turn" && session[:dealer_score] < 17 %>
  <form method="post" action="/deal_to_dealer">
    <input type="submit" value="Dealer only has <%=session[:dealer_score]%>. Deal Card to Dealer" class='btn btn-primary'/>
  </form>
<% else %>
  <!-- do nothing -->
<% end %>
</div>

<hr/>

<!-- Show dealer's cards -->

<% if session[:player_status] == "stay" %>
  <h3>Dealer's Cards Total <%=session[:dealer_score]%></h3>
  <div>
    <% session[:dealer_cards].each do |card| %>
      <img src="/images/cards/<%= "#{card[0]}_#{card[1]}" %>.jpg" alt="<%= "#{card[1]} of #{card[0]}"%>"/>
    <% end %>
  </div>
<% else %>
  <h3>Dealer's Cards</h3>
  <div>
    <img src="/images/cards/<%= "#{session[:dealer_cards][1][0]}_#{session[:dealer_cards][1][1]}" %>.jpg" alt="<%= "#{session[:dealer_cards][1][1]} of #{session[:dealer_cards][1][0]}"%>"/>
    <img src="/images/cards/cover.jpg" alt="<%= "Back of Card"%>"/>
  </div>
<% end %>

<hr/>

<!-- Show player's cards -->
<h3><%= session[:username] %>, Your Cards Total <%= session[:player_score] %></h3>
<h4>You Have $<%=session[:current_bet]%> at Risk and Have $<%=session[:bank]%> in the bank</h4>
<div>
    <% session[:player_cards].each do |card| %>
      <img src="/images/cards/<%= "#{card[0]}_#{card[1]}" %>.jpg" alt="<%= "#{card[1]} of #{card[0]}"%>"/>
    <% end %>
  </div>


